@use "../global/mixin" as *;


.cardSection {
     @include flex(column);
     width: 100%;
    ul {
        @include flex(column);
        width: 100%;
        list-style: none;
        @media screen and (min-width: 768px) {
         flex-direction: row;
         flex-wrap: wrap;
      }

        li {
            width: 100%;
            @include flex(column);
            @media screen and (min-width: 768px) {
            max-width: 340px;
         }

        }

        .card {
         max-width: 340px;
         height: 368px;
         @include flex(column);
         gap:10px;
         position: relative;

         .card__image {
            width: 320px;
            height: 225px;
            border-radius: 20px;
            object-fit: cover
         }

         .card__createdAt {
            @include flex(row);
            gap: 10px;
         }

         .card__profile-image {
            position: absolute;
            top: 55%;
            border-radius: 50%; 
            width: 70px;
            height: 70px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
            border: 6px solid rgb(255, 0, 0);
            object-fit: cover;
         
         }

         .card__username {
            margin-top: 20px;
         }


        }
    }

}


.search-text {
      font-size: 26px;
      font-weight: bold;
      margin-top: 50%;
    }