@use "../global/mixin" as *;


.cardSection {
     @include flex(column);
     width: 100%;
    ul {
        @include flex(column);
        width: 100%;
        list-style: none;

        li {
            width: 100%;
        }

        .card {
         width: 100%;
         max-height: 368px;
         @include flex(column);

         .card__image {
            width: 100%;
            height: 80%;
            border-radius: 20px;

         }

         .card__createdAt {
            @include flex(row);
         }


        }
    }
}