@use "../global/mixin" as *;


.cardSection {
     @include flex(column);
     width: 100%;
    ul {
        @include flex(column);
        width: 100%;
        list-style: none;

        li {
            width: 100%;
            @include flex(column);
        }

        .card {
         max-width: 340px;
         height: 368px;
         @include flex(column);
         gap:10px;
         position: relative;

         .card__image {
            width: 320px;
            height: 225px;
            border-radius: 20px;
            object-fit: fill
         

         }

         .card__createdAt {
            @include flex(row);
            gap: 10px;
         }

         .card__profile-image {
            position: absolute;
            top: 55%;
            border-radius: 50%; 
            width: 74px;
            height: 74px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
            border: 6px solid rgb(255, 0, 0);

         }

         .card__username {
            margin-top: 20px;
         }


        }
    }
}