@use "../global/mixin" as *;


.header {
    @include flex(row);
    width: 100%;
    margin: 15px 0 30px 0;
    @media screen and (min-width: 768px) {
        justify-content: space-around;
    }

    img {
        height: 40px;
        width: 40px;
    }

    .search {
        position: relative;
         
         
        input {
            background-color: #ECECEC;
            border-radius: 30px;
            border: none;
            padding: 5%;
            text-align: center;
          

         
        }
        &::before {
                content: "";
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background: url("/search.svg") no-repeat center;
                background-size: contain;
        }
    
    }

   
}