$card-max-width:      340px;
$card-image-width:    100%;
$card-image-height:   225px;
$card-height:         368px;
$card-gap:            10px;
$card-border-radius:  20px;

$profile-size:        70px;
$profile-border:      6px solid rgb(255, 0, 0);
$profile-shadow:      0px 0px 20px 0px rgba(0, 0, 0, 0.5);
$profile-top:         55%;

$breakpoint-tablet:   768px;


$header-margin:         15px 0 30px 0;
$header-icon-size:      40px;
$breakpoint-tablet:     768px;

$input-bg:              #ECECEC;
$input-border-radius:   30px;
$input-padding:         5%;

$search-icon-size:      20px;
$search-icon-left:      12px;
