@import url("./components/_header.scss");
@import url("./components/_cardSection.scss");






* {
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    gap: 50px;
}

body, #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
