@import url("./components/_header.scss");
@import url("./components/_cardSection.scss");






* {
    margin: 0;
    padding: 0;
}


body, #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}
