@import url("./components/_header.scss");
@import url("./components/_cardSection.scss");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');





* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}


body, #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}
